%h2 Forgot your password?
= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .row
    .inputs.col-sm-5
      = f.text_field :username, autofocus: true
      = render "devise/shared/links"
  .row
    .actions.col-sm-6
      = f.primary "Send me reset password instructions"
